select{
	height:200px; 
	width:18%;
	}
ul{
	overflow:hidden; 
	overflow-y:scroll;
	}
#myCanvas{
	border:1px solid #d3d3d3;
}
.container {
  position: relative;
}

.container::after {
  content: ' ';
  display: block;
  padding: 0 0 50%;
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

canvas {
  width: 100%;
  height: 100%;
}